<style>
@media screen and (min-width:640px) {
  /* for screens that are at least 640 pixels wide */


.left, .main, .right {
  float: left;
  padding: 0;
  width: 200%;
  margin: 3%;
  
}

}
</style>